img {
    width: 120px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}
#b{
    display: block;
    position: absolute;
    width: 140px;
    margin-top: -140%;
    margin-left: -65%;
}
#c{
    display: block;
    position: absolute;
    width: 140px;
}
#d{
    display: block;
    position: absolute;
    width: 140px;
}
#e{
    display: block;
    position: absolute;
    width: 140px;
}
#f{
    display: block;
    position: absolute;
    width: 140px;
}
#g{
    display: block;
    position: absolute;
    width: 140px;
}
#h{
    display: block;
    position: absolute;
    width: 140px;
}
#btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}